[Unit]
Description=Courselore
After=network.target

[Service]
ExecStart=/root/courselore/src/node_modules/.bin/node /root/courselore/src/lib/index.js /root/courselore/src/deployment-example/configuration.js
Environment=NODE_ENV=production
User=root
Restart=always

[Install]
WantedBy=multi-user.target
