
        [live-navigating] * {
          cursor: wait !important;
        }

        .label {
          display: flex;
          flex-direction: column;
          gap: var(--space--1);
        }

        .label .label--text {
            font-size: var(--font-size--xs);
            line-height: var(--line-height--xs);
            font-weight: var(--font-weight--bold);
            display: flex;
            gap: var(--space--2);
          }

        .input--text {
          background-color: var(--color--gray--medium--200);
          --color--box-shadow: var(--color--blue--400);
        }

        .input--text::-moz-placeholder {
            color: var(--color--gray--medium--400);
          }

        .input--text:-ms-input-placeholder {
            color: var(--color--gray--medium--400);
          }

        .input--text::placeholder {
            color: var(--color--gray--medium--400);
          }

        .input--text:disabled,
          .input--text.disabled {
            color: var(--color--gray--medium--500);
            -webkit-text-fill-color: var(--color--gray--medium--500);
            background-color: var(--color--gray--medium--300);
          }

        @media (prefers-color-scheme: dark) {

        .input--text {
            background-color: var(--color--gray--medium--700);
            --color--box-shadow: var(--color--blue--600)
        }
            .input--text::-moz-placeholder {
              color: var(--color--gray--medium--500);
            }
            .input--text:-ms-input-placeholder {
              color: var(--color--gray--medium--500);
            }
            .input--text::placeholder {
              color: var(--color--gray--medium--500);
            }
            .input--text:disabled,
            .input--text.disabled {
              color: var(--color--gray--medium--400);
              -webkit-text-fill-color: var(--color--gray--medium--400);
              background-color: var(--color--gray--medium--600);
            }
          }

        .input--text {
          width: 100%;
          display: block;
          padding: var(--space--2) var(--space--4);
          border-radius: var(--border-radius--md);
}

        .input--text:focus-within {
            box-shadow: var(--border-width--0) var(--border-width--0)
              var(--border-width--0) var(--border-width--2)
              var(--color--box-shadow);
          }

        .input--text {
          transition-property: var(--transition-property--box-shadow);
          transition-duration: var(--transition-duration--150);
          transition-timing-function: var(--transition-timing-function--in-out);
}

        .input--text.input--text--textarea {
            border-radius: var(--border-radius--lg);
          }

        .input--radio {
          background-color: var(--color--gray--medium--200);
        }

        .input--radio:hover,
          .input--radio:focus-within {
            background-color: var(--color--gray--medium--300);
          }

        .input--radio:active {
            background-color: var(--color--gray--medium--400);
          }

        .input--radio:checked {
            background-color: var(--color--blue--600);
          }

        .input--radio:checked:hover,
            .input--radio:checked:focus-within {
              background-color: var(--color--blue--500);
            }

        .input--radio:checked:active {
              background-color: var(--color--blue--700);
            }

        @media (prefers-color-scheme: dark) {

        .input--radio {
            background-color: var(--color--gray--medium--700)
        }
            .input--radio:hover,
            .input--radio:focus-within {
              background-color: var(--color--gray--medium--600);
            }
            .input--radio:active {
              background-color: var(--color--gray--medium--500);
            }
            .input--radio:checked {
              background-color: var(--color--blue--700);
            }
              .input--radio:checked:hover,
              .input--radio:checked:focus-within {
                background-color: var(--color--blue--600);
              }
              .input--radio:checked:active {
                background-color: var(--color--blue--800);
              }
          }

        .input--radio {
          width: var(--space--3-5);
          height: var(--space--3-5);
          border-radius: var(--border-radius--circle);
          position: relative;
          top: var(--space---0-5);
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          transition-property: var(--transition-property--colors);
          transition-duration: var(--transition-duration--150);
          transition-timing-function: var(--transition-timing-function--in-out);
}

        .input--radio::before {
            content: "";
            background-color: var(--color--gray--medium--50);
          }

        @media (prefers-color-scheme: dark) {

        .input--radio::before {
              background-color: var(--color--gray--medium--200);
          }
            }

        .input--radio::before {
            display: block;
            width: var(--space--1-5);
            height: var(--space--1-5);
            border-radius: var(--border-radius--circle);
            transition-property: var(--transition-property--transform);
            transition-duration: var(--transition-duration--150);
            transition-timing-function: var(
              --transition-timing-function--in-out
            );
}

        .input--radio:not(:checked)::before {
            transform: scale(var(--scale--0));
          }

        .input--checkbox {
          background-color: var(--color--gray--medium--200);
        }

        .input--checkbox:hover,
          .input--checkbox:focus-within {
            background-color: var(--color--gray--medium--300);
          }

        .input--checkbox:active {
            background-color: var(--color--gray--medium--400);
          }

        .input--checkbox:checked {
            background-color: var(--color--blue--600);
          }

        .input--checkbox:checked:hover,
            .input--checkbox:checked:focus-within {
              background-color: var(--color--blue--500);
            }

        .input--checkbox:checked:active {
              background-color: var(--color--blue--700);
            }

        @media (prefers-color-scheme: dark) {

        .input--checkbox {
            background-color: var(--color--gray--medium--700);
        }
            .input--checkbox:hover,
            .input--checkbox:focus-within {
              background-color: var(--color--gray--medium--600);
            }
            .input--checkbox:active {
              background-color: var(--color--gray--medium--500);
            }
            .input--checkbox:checked {
              background-color: var(--color--blue--700);
            }
              .input--checkbox:checked:hover,
              .input--checkbox:checked:focus-within {
                background-color: var(--color--blue--600);
              }
              .input--checkbox:checked:active {
                background-color: var(--color--blue--800);
              }
          }

        .input--checkbox {
          width: var(--space--8);
          padding: var(--space--0-5);
          border-radius: var(--border-radius--full);
          position: relative;
          top: calc(var(--space--0-5) * 1.5);
}

        .input--checkbox::after {
            content: "";
            background-color: var(--color--gray--medium--50);
          }

        @media (prefers-color-scheme: dark) {

        .input--checkbox::after {
              background-color: var(--color--gray--medium--200);
          }
            }

        .input--checkbox::after {
            width: var(--space--3);
            height: var(--space--3);
            border-radius: var(--border-radius--circle);
            display: block;
            transition-property: var(--transition-property--all);
            transition-duration: var(--transition-duration--150);
            transition-timing-function: var(
              --transition-timing-function--in-out
            );
}

        .input--checkbox:checked::after {
            margin-left: var(--space--4);
          }

        .input--checkbox {
          transition-property: var(--transition-property--colors);
          transition-duration: var(--transition-duration--150);
          transition-timing-function: var(--transition-timing-function--in-out);
}

        .input--radio-or-checkbox--multilabel ~ * {
            display: flex;
            gap: var(--space--2);
          }

        .input--radio-or-checkbox--multilabel:not(:checked) + * + *,
          .input--radio-or-checkbox--multilabel:checked + * {
            display: none;
          }

        .button {
          padding: var(--space--1) var(--space--4);
          border-radius: var(--border-radius--md);
          display: flex;
          gap: var(--space--2);
          justify-content: center;
          align-items: baseline;
          transition-property: var(--transition-property--colors);
          transition-duration: var(--transition-duration--150);
          transition-timing-function: var(--transition-timing-function--in-out);
          cursor: pointer;
            
        }

        .button.button--tight {
            padding: var(--space--0-5) var(--space--1);
          }

        .button.button--tight.button--tight--inline {
              margin: var(--space---0-5) var(--space---1);
            }

        .button.button--tight-gap {
            gap: var(--space--1);
          }

        @media (max-width: 400px) {

        .button.button--full-width-on-small-screen {
              width: 100%
          }
            }

        .button.button--justify-start {
            justify-content: flex-start;
          }

        .button.button--inline {
            display: inline-flex;
          }

        .button.button--transparent:not(:disabled):not(.disabled):hover,
              .button.button--transparent:not(:disabled):not(.disabled):focus-within,
              .button.button--transparent:not(:disabled):not(.disabled).hover {
                background-color: var(--color--gray--medium--200);
              }

        .button.button--transparent:not(:disabled):not(.disabled):active {
                background-color: var(--color--gray--medium--300);
              }

        @media (prefers-color-scheme: dark) {
                .button.button--transparent:not(:disabled):not(.disabled):hover,
                .button.button--transparent:not(:disabled):not(.disabled):focus-within,
                .button.button--transparent:not(:disabled):not(.disabled).hover {
                  background-color: var(--color--gray--medium--700);
                }
                .button.button--transparent:not(:disabled):not(.disabled):active {
                  background-color: var(--color--gray--medium--600);
                }
              }

        .button.button--transparent:disabled,
            .button.button--transparent.disabled {
              color: var(--color--gray--medium--500);
            }

        @media (prefers-color-scheme: dark) {

        .button.button--transparent:disabled,
            .button.button--transparent.disabled {
                color: var(--color--gray--medium--400)
            }
              }

        .button.button--blue {
                color: var(--color--blue--50);
              }

        @media (prefers-color-scheme: dark) {

        .button.button--blue {
                  color: var(--color--blue--100)
              }
                }

        .button.button--blue:not(:disabled):not(.disabled) {
                  background-color: var(--color--blue--600);
                }

        .button.button--blue:not(:disabled):not(.disabled):hover,
                  .button.button--blue:not(:disabled):not(.disabled):focus-within,
                  .button.button--blue:not(:disabled):not(.disabled).hover {
                    background-color: var(--color--blue--500);
                  }

        .button.button--blue:not(:disabled):not(.disabled):active {
                    background-color: var(--color--blue--700);
                  }

        @media (prefers-color-scheme: dark) {

        .button.button--blue:not(:disabled):not(.disabled) {
                    background-color: var(--color--blue--800)
                }
                    .button.button--blue:not(:disabled):not(.disabled):hover,
                    .button.button--blue:not(:disabled):not(.disabled):focus-within,
                    .button.button--blue:not(:disabled):not(.disabled).hover {
                      background-color: var(--color--blue--700);
                    }
                    .button.button--blue:not(:disabled):not(.disabled):active {
                      background-color: var(--color--blue--900);
                    }
                  }

        .button.button--blue:disabled,
                .button.button--blue.disabled {
                  background-color: var(--color--blue--300);
                }

        @media (prefers-color-scheme: dark) {

        .button.button--blue:disabled,
                .button.button--blue.disabled {
                    background-color: var(--color--blue--500)
                }
                  }

        .button.button--blue .strong {
                  color: var(--color--blue--50);
                }

        @media (prefers-color-scheme: dark) {

        .button.button--blue .strong {
                    color: var(--color--blue--100)
                }
                  }

        .button.button--blue .secondary,
                .button.button--blue [class^="text--"] {
                  color: var(--color--blue--100);
                }

        @media (prefers-color-scheme: dark) {

        .button.button--blue .secondary,
                .button.button--blue [class^="text--"] {
                    color: var(--color--blue--200)
                }
                  }

        .button.button--rose {
                color: var(--color--rose--50);
              }

        @media (prefers-color-scheme: dark) {

        .button.button--rose {
                  color: var(--color--rose--100)
              }
                }

        .button.button--rose:not(:disabled):not(.disabled) {
                  background-color: var(--color--rose--600);
                }

        .button.button--rose:not(:disabled):not(.disabled):hover,
                  .button.button--rose:not(:disabled):not(.disabled):focus-within,
                  .button.button--rose:not(:disabled):not(.disabled).hover {
                    background-color: var(--color--rose--500);
                  }

        .button.button--rose:not(:disabled):not(.disabled):active {
                    background-color: var(--color--rose--700);
                  }

        @media (prefers-color-scheme: dark) {

        .button.button--rose:not(:disabled):not(.disabled) {
                    background-color: var(--color--rose--800)
                }
                    .button.button--rose:not(:disabled):not(.disabled):hover,
                    .button.button--rose:not(:disabled):not(.disabled):focus-within,
                    .button.button--rose:not(:disabled):not(.disabled).hover {
                      background-color: var(--color--rose--700);
                    }
                    .button.button--rose:not(:disabled):not(.disabled):active {
                      background-color: var(--color--rose--900);
                    }
                  }

        .button.button--rose:disabled,
                .button.button--rose.disabled {
                  background-color: var(--color--rose--300);
                }

        @media (prefers-color-scheme: dark) {

        .button.button--rose:disabled,
                .button.button--rose.disabled {
                    background-color: var(--color--rose--500)
                }
                  }

        .button.button--rose .strong {
                  color: var(--color--rose--50);
                }

        @media (prefers-color-scheme: dark) {

        .button.button--rose .strong {
                    color: var(--color--rose--100)
                }
                  }

        .button.button--rose .secondary,
                .button.button--rose [class^="text--"] {
                  color: var(--color--rose--100);
                }

        @media (prefers-color-scheme: dark) {

        .button.button--rose .secondary,
                .button.button--rose [class^="text--"] {
                    color: var(--color--rose--200)
                }
                  }

        .button.button--amber {
                color: var(--color--amber--50);
              }

        @media (prefers-color-scheme: dark) {

        .button.button--amber {
                  color: var(--color--amber--100)
              }
                }

        .button.button--amber:not(:disabled):not(.disabled) {
                  background-color: var(--color--amber--600);
                }

        .button.button--amber:not(:disabled):not(.disabled):hover,
                  .button.button--amber:not(:disabled):not(.disabled):focus-within,
                  .button.button--amber:not(:disabled):not(.disabled).hover {
                    background-color: var(--color--amber--500);
                  }

        .button.button--amber:not(:disabled):not(.disabled):active {
                    background-color: var(--color--amber--700);
                  }

        @media (prefers-color-scheme: dark) {

        .button.button--amber:not(:disabled):not(.disabled) {
                    background-color: var(--color--amber--800)
                }
                    .button.button--amber:not(:disabled):not(.disabled):hover,
                    .button.button--amber:not(:disabled):not(.disabled):focus-within,
                    .button.button--amber:not(:disabled):not(.disabled).hover {
                      background-color: var(--color--amber--700);
                    }
                    .button.button--amber:not(:disabled):not(.disabled):active {
                      background-color: var(--color--amber--900);
                    }
                  }

        .button.button--amber:disabled,
                .button.button--amber.disabled {
                  background-color: var(--color--amber--300);
                }

        @media (prefers-color-scheme: dark) {

        .button.button--amber:disabled,
                .button.button--amber.disabled {
                    background-color: var(--color--amber--500)
                }
                  }

        .button.button--amber .strong {
                  color: var(--color--amber--50);
                }

        @media (prefers-color-scheme: dark) {

        .button.button--amber .strong {
                    color: var(--color--amber--100)
                }
                  }

        .button.button--amber .secondary,
                .button.button--amber [class^="text--"] {
                  color: var(--color--amber--100);
                }

        @media (prefers-color-scheme: dark) {

        .button.button--amber .secondary,
                .button.button--amber [class^="text--"] {
                    color: var(--color--amber--200)
                }
                  }

        .link {
          text-decoration: underline;
          color: var(--color--blue--600);
        }

        .link:hover,
          .link:focus-within {
            color: var(--color--blue--500);
          }

        .link:active {
            color: var(--color--blue--700);
          }

        .link.text--rose:hover,
                .link.text--rose:focus-within {
                  color: var(--color--rose--500);
                }

        .link.text--rose:active {
                  color: var(--color--rose--700);
                }

        @media (prefers-color-scheme: dark) {

        .link {
            color: var(--color--blue--500)
        }
            .link:hover,
            .link:focus-within {
              color: var(--color--blue--400);
            }
            .link:active {
              color: var(--color--blue--600);
            }
                  .link.text--rose:hover,
                  .link.text--rose:focus-within {
                    color: var(--color--rose--400);
                  }
                  .link.text--rose:active {
                    color: var(--color--rose--600);
                  }
              
          }

        .link {
          transition-property: var(--transition-property--colors);
          transition-duration: var(--transition-duration--150);
          transition-timing-function: var(--transition-timing-function--in-out);
          cursor: pointer;
}

        .link .bi {
            text-decoration: none;
          }

        :disabled,
        .disabled {
          cursor: not-allowed;
        }

        .heading {
          font-size: var(--font-size--2xs);
          line-height: var(--line-height--2xs);
          font-weight: var(--font-weight--bold);
          text-transform: uppercase;
          letter-spacing: var(--letter-spacing--widest);
          color: var(--color--gray--medium--600);
        }

        @media (prefers-color-scheme: dark) {

        .heading {
            color: var(--color--gray--medium--400);
        }
          }

        .heading {
          display: flex;
          gap: var(--space--1);
}

        .heading--display {
          font-size: var(--font-size--xl);
          line-height: var(--line-height--xl);
          font-weight: var(--font-weight--bold);
          text-align: center;
          color: var(--color--gray--medium--800);
        }

        @media (prefers-color-scheme: dark) {

        .heading--display {
            color: var(--color--gray--medium--100)
        }
          }

        .strong {
          font-weight: var(--font-weight--bold);
          color: var(--color--gray--medium--800);
        }

        @media (prefers-color-scheme: dark) {

        .strong {
            color: var(--color--gray--medium--100)
        }
          }

        .secondary {
          color: var(--color--gray--medium--500);
        }

        @media (prefers-color-scheme: dark) {

        .secondary {
            color: var(--color--gray--medium--400)
        }
          }

        
            .text--blue {
              color: var(--color--blue--600);
            }

        
            @media (prefers-color-scheme: dark) {

        
            .text--blue {
                color: var(--color--blue--500)
            }
              }
          
            .text--green {
              color: var(--color--green--600);
            }
          
            @media (prefers-color-scheme: dark) {
          
            .text--green {
                color: var(--color--green--500)
            }
              }
          
            .text--rose {
              color: var(--color--rose--600);
            }
          
            @media (prefers-color-scheme: dark) {
          
            .text--rose {
                color: var(--color--rose--500)
            }
              }
          
            .text--sky {
              color: var(--color--sky--600);
            }
          
            @media (prefers-color-scheme: dark) {
          
            .text--sky {
                color: var(--color--sky--500)
            }
              }
          
            .text--amber {
              color: var(--color--amber--600);
            }
          
            @media (prefers-color-scheme: dark) {
          
            .text--amber {
                color: var(--color--amber--500)
            }
              }
          
            .text--teal {
              color: var(--color--teal--600);
            }
          
            @media (prefers-color-scheme: dark) {
          
            .text--teal {
                color: var(--color--teal--500)
            }
              }
          
            .text--lime {
              color: var(--color--lime--600);
            }
          
            @media (prefers-color-scheme: dark) {
          
            .text--lime {
                color: var(--color--lime--500)
            }
              }
          
            .text--emerald {
              color: var(--color--emerald--600);
            }
          
            @media (prefers-color-scheme: dark) {
          
            .text--emerald {
                color: var(--color--emerald--500)
            }
              }
          
            .text--fuchsia {
              color: var(--color--fuchsia--600);
            }
          
            @media (prefers-color-scheme: dark) {
          
            .text--fuchsia {
                color: var(--color--fuchsia--500)
            }
              }
          
            .text--cyan {
              color: var(--color--cyan--600);
            }
          
            @media (prefers-color-scheme: dark) {
          
            .text--cyan {
                color: var(--color--cyan--500)
            }
              }
          

        .mark {
          color: var(--color--amber--700);
          background-color: var(--color--amber--200);
        }
          

        @media (prefers-color-scheme: dark) {
          

        .mark {
            color: var(--color--amber--200);
            background-color: var(--color--amber--700);
        }
          }
          

        .mark {
          padding: var(--space--0) var(--space--0-5);
          border-radius: var(--border-radius--base);
}

        .code,
        .pre > code {
          font-family: "JetBrains Mono", var(--font-family--monospace);
          font-variant-ligatures: none;
        }

        .pre > code {
          font-size: var(--font-size--xs);
          line-height: var(--line-height--xs);
        }

        .img {
          background-color: var(--color--gray--medium--50);
        }

        @media (prefers-color-scheme: dark) {

        .img {
            background-color: var(--color--gray--medium--50);
            filter: brightness(var(--brightness--90));
        }
          }

        .img {
          max-width: 100%;
          height: auto;
          border-radius: var(--border-radius--xl);
}

        .details {
          background-color: var(--color--gray--medium--200);
        }

        @media (prefers-color-scheme: dark) {

        .details {
            background-color: var(--color--gray--medium--700)
        }
          }

        .details {
          border-radius: var(--border-radius--xl);
}

        .details summary:hover,
            .details summary:focus-within {
              background-color: var(--color--gray--medium--300);
            }

        @media (prefers-color-scheme: dark) {
              .details summary:hover,
              .details summary:focus-within {
                background-color: var(--color--gray--medium--600);
              }
            }

        .details summary {
            padding: var(--space--2) var(--space--4);
            border-radius: var(--border-radius--xl);
            transition-property: var(--transition-property--colors);
            transition-duration: var(--transition-duration--150);
            transition-timing-function: var(
              --transition-timing-function--in-out
            );
            cursor: pointer;
}

        .details summary::before {
              content: "\f275";
              font-family: "bootstrap-icons" !important;
              font-size: var(--font-size--xs);
              line-height: var(--line-height--xs);
              margin-right: var(--space--2);
            }

        .details[open] > summary::before {
            content: "\f273";
          }

        .details > div:last-child {
            padding: var(--space--4);
          }

        .decorative-icon {
          font-size: var(--font-size--9xl);
          line-height: var(--line-height--9xl);
          color: var(--color--gray--medium--300);
          background-color: var(--color--gray--medium--100);
        }

        @media (prefers-color-scheme: dark) {

        .decorative-icon {
            color: var(--color--gray--medium--600);
            background-color: var(--color--gray--medium--800);
        }
          }

        .decorative-icon {
          width: var(--space--48);
          height: var(--space--48);
          border-radius: var(--border-radius--circle);
          display: flex;
          justify-content: center;
          align-items: center;
}

        .separator {
          border-top: var(--border-width--1) solid
            var(--color--gray--medium--200);
        }

        @media (prefers-color-scheme: dark) {

        .separator {
            border-color: var(--color--gray--medium--700)
        }
          }

        .menu-box {
          background-color: var(--color--gray--medium--100);
        }

        @media (prefers-color-scheme: dark) {

        .menu-box {
            background-color: var(--color--gray--medium--800)
        }
          }

        .menu-box {
          padding: var(--space--2);
          border-radius: var(--border-radius--lg);
          display: flex;
          flex-direction: column;
          gap: var(--space--2);
}

        .menu-box .menu-box--item {
            justify-content: flex-start;
          }

        .tippy-box {
          font-size: var(--font-size--sm);
          line-height: var(--line-height--sm);
          --background-color: var(--color--gray--medium--100);
          --border-color: var(--color--gray--medium--400);
            
        }

        @media (prefers-color-scheme: dark) {

        .tippy-box {
            --background-color: var(--color--gray--medium--800);
            --border-color: var(--color--gray--medium--400)
            
        }
          }

        .tippy-box {
          color: inherit;
          background-color: var(--background-color);
          border: var(--border-width--1) solid var(--border-color);
          border-radius: var(--border-radius--md);
}

        .tippy-box > .tippy-svg-arrow > svg:first-child {
              fill: var(--border-color);
            }

        .tippy-box > .tippy-svg-arrow > svg:last-child {
              fill: var(--background-color);
            }

        .tippy-box .tippy-content {
            padding: var(--space--1) var(--space--2);
          }

        .tippy-box .heading {
            padding: var(--space--1) var(--space--2);
          }

        .tippy-box .keyboard-shortcut {
            font-size: var(--font-size--xs);
            line-height: var(--line-height--xs);
            color: var(--color--gray--medium--500);
          }

        @media (prefers-color-scheme: dark) {

        .tippy-box .keyboard-shortcut {
              color: var(--color--gray--medium--400)
          }
            }

        .tippy-box .keyboard-shortcut .keyboard-shortcut--cluster {
              letter-spacing: var(--letter-spacing--widest);
            }

        .tippy-box .dropdown--menu {
            display: flex;
            flex-direction: column;
          }

        .tippy-box .dropdown--menu .dropdown--menu--item {
              text-align: left;
              width: 100%;
              padding-left: var(--space--2);
              padding-right: var(--space--2);
              justify-content: flex-start;
            }

        .tippy-box .dropdown--separator {
            border-top: var(--border-width--1) solid
              var(--color--gray--medium--200);
          }

        @media (prefers-color-scheme: dark) {

        .tippy-box .dropdown--separator {
              border-color: var(--color--gray--medium--700);
          }
            }

        .tippy-box .dropdown--separator {
            margin: var(--space--0) var(--space--2);
}

        .tippy-box[data-theme~="green"] {
                color: var(--color--green--700);
                --background-color: var(--color--green--100);
                --border-color: var(--color--green--200);
              }

        .tippy-box[data-theme~="green"] .button.button--transparent:hover,
                  .tippy-box[data-theme~="green"] .button.button--transparent:focus-within {
                    background-color: var(--color--green--200);
                  }

        .tippy-box[data-theme~="green"] .button.button--transparent:active {
                    background-color: var(--color--green--300);
                  }

        .tippy-box[data-theme~="green"] .link {
                  color: var(--color--green--600);
                }

        .tippy-box[data-theme~="green"] .link:hover,
                  .tippy-box[data-theme~="green"] .link:focus-within {
                    color: var(--color--green--500);
                  }

        .tippy-box[data-theme~="green"] .link:active {
                    color: var(--color--green--700);
                  }

        .tippy-box[data-theme~="green"] .keyboard-shortcut {
                  color: var(--color--green--500);
                }

        @media (prefers-color-scheme: dark) {

        .tippy-box[data-theme~="green"] {
                  color: var(--color--green--200);
                  --background-color: var(--color--green--900);
                  --border-color: var(--color--green--800)
              }
                    .tippy-box[data-theme~="green"] .button.button--transparent:hover,
                    .tippy-box[data-theme~="green"] .button.button--transparent:focus-within {
                      background-color: var(--color--green--800);
                    }
                    .tippy-box[data-theme~="green"] .button.button--transparent:active {
                      background-color: var(--color--green--700);
                    }
                  .tippy-box[data-theme~="green"] .link {
                    color: var(--color--green--100);
                  }
                    .tippy-box[data-theme~="green"] .link:hover,
                    .tippy-box[data-theme~="green"] .link:focus-within {
                      color: var(--color--green--50);
                    }
                    .tippy-box[data-theme~="green"] .link:active {
                      color: var(--color--green--200);
                    }
                  .tippy-box[data-theme~="green"] .keyboard-shortcut {
                    color: var(--color--green--400);
                  }
                }

        .tippy-box[data-theme~="amber"] {
                color: var(--color--amber--700);
                --background-color: var(--color--amber--100);
                --border-color: var(--color--amber--200);
              }

        .tippy-box[data-theme~="amber"] .button.button--transparent:hover,
                  .tippy-box[data-theme~="amber"] .button.button--transparent:focus-within {
                    background-color: var(--color--amber--200);
                  }

        .tippy-box[data-theme~="amber"] .button.button--transparent:active {
                    background-color: var(--color--amber--300);
                  }

        .tippy-box[data-theme~="amber"] .link {
                  color: var(--color--amber--600);
                }

        .tippy-box[data-theme~="amber"] .link:hover,
                  .tippy-box[data-theme~="amber"] .link:focus-within {
                    color: var(--color--amber--500);
                  }

        .tippy-box[data-theme~="amber"] .link:active {
                    color: var(--color--amber--700);
                  }

        .tippy-box[data-theme~="amber"] .keyboard-shortcut {
                  color: var(--color--amber--500);
                }

        @media (prefers-color-scheme: dark) {

        .tippy-box[data-theme~="amber"] {
                  color: var(--color--amber--200);
                  --background-color: var(--color--amber--900);
                  --border-color: var(--color--amber--800)
              }
                    .tippy-box[data-theme~="amber"] .button.button--transparent:hover,
                    .tippy-box[data-theme~="amber"] .button.button--transparent:focus-within {
                      background-color: var(--color--amber--800);
                    }
                    .tippy-box[data-theme~="amber"] .button.button--transparent:active {
                      background-color: var(--color--amber--700);
                    }
                  .tippy-box[data-theme~="amber"] .link {
                    color: var(--color--amber--100);
                  }
                    .tippy-box[data-theme~="amber"] .link:hover,
                    .tippy-box[data-theme~="amber"] .link:focus-within {
                      color: var(--color--amber--50);
                    }
                    .tippy-box[data-theme~="amber"] .link:active {
                      color: var(--color--amber--200);
                    }
                  .tippy-box[data-theme~="amber"] .keyboard-shortcut {
                    color: var(--color--amber--400);
                  }
                }

        .tippy-box[data-theme~="rose"] {
                color: var(--color--rose--700);
                --background-color: var(--color--rose--100);
                --border-color: var(--color--rose--200);
              }

        .tippy-box[data-theme~="rose"] .button.button--transparent:hover,
                  .tippy-box[data-theme~="rose"] .button.button--transparent:focus-within {
                    background-color: var(--color--rose--200);
                  }

        .tippy-box[data-theme~="rose"] .button.button--transparent:active {
                    background-color: var(--color--rose--300);
                  }

        .tippy-box[data-theme~="rose"] .link {
                  color: var(--color--rose--600);
                }

        .tippy-box[data-theme~="rose"] .link:hover,
                  .tippy-box[data-theme~="rose"] .link:focus-within {
                    color: var(--color--rose--500);
                  }

        .tippy-box[data-theme~="rose"] .link:active {
                    color: var(--color--rose--700);
                  }

        .tippy-box[data-theme~="rose"] .keyboard-shortcut {
                  color: var(--color--rose--500);
                }

        @media (prefers-color-scheme: dark) {

        .tippy-box[data-theme~="rose"] {
                  color: var(--color--rose--200);
                  --background-color: var(--color--rose--900);
                  --border-color: var(--color--rose--800)
              }
                    .tippy-box[data-theme~="rose"] .button.button--transparent:hover,
                    .tippy-box[data-theme~="rose"] .button.button--transparent:focus-within {
                      background-color: var(--color--rose--800);
                    }
                    .tippy-box[data-theme~="rose"] .button.button--transparent:active {
                      background-color: var(--color--rose--700);
                    }
                  .tippy-box[data-theme~="rose"] .link {
                    color: var(--color--rose--100);
                  }
                    .tippy-box[data-theme~="rose"] .link:hover,
                    .tippy-box[data-theme~="rose"] .link:focus-within {
                      color: var(--color--rose--50);
                    }
                    .tippy-box[data-theme~="rose"] .link:active {
                      color: var(--color--rose--200);
                    }
                  .tippy-box[data-theme~="rose"] .keyboard-shortcut {
                    color: var(--color--rose--400);
                  }
                }

        .tippy-box[data-theme~="error"] {
                color: var(--color--rose--700);
                --background-color: var(--color--rose--100);
                --border-color: var(--color--rose--200);
              }

        .tippy-box[data-theme~="error"] .button.button--transparent:hover,
                  .tippy-box[data-theme~="error"] .button.button--transparent:focus-within {
                    background-color: var(--color--rose--200);
                  }

        .tippy-box[data-theme~="error"] .button.button--transparent:active {
                    background-color: var(--color--rose--300);
                  }

        .tippy-box[data-theme~="error"] .link {
                  color: var(--color--rose--600);
                }

        .tippy-box[data-theme~="error"] .link:hover,
                  .tippy-box[data-theme~="error"] .link:focus-within {
                    color: var(--color--rose--500);
                  }

        .tippy-box[data-theme~="error"] .link:active {
                    color: var(--color--rose--700);
                  }

        .tippy-box[data-theme~="error"] .keyboard-shortcut {
                  color: var(--color--rose--500);
                }

        @media (prefers-color-scheme: dark) {

        .tippy-box[data-theme~="error"] {
                  color: var(--color--rose--200);
                  --background-color: var(--color--rose--900);
                  --border-color: var(--color--rose--800)
              }
                    .tippy-box[data-theme~="error"] .button.button--transparent:hover,
                    .tippy-box[data-theme~="error"] .button.button--transparent:focus-within {
                      background-color: var(--color--rose--800);
                    }
                    .tippy-box[data-theme~="error"] .button.button--transparent:active {
                      background-color: var(--color--rose--700);
                    }
                  .tippy-box[data-theme~="error"] .link {
                    color: var(--color--rose--100);
                  }
                    .tippy-box[data-theme~="error"] .link:hover,
                    .tippy-box[data-theme~="error"] .link:focus-within {
                      color: var(--color--rose--50);
                    }
                    .tippy-box[data-theme~="error"] .link:active {
                      color: var(--color--rose--200);
                    }
                  .tippy-box[data-theme~="error"] .keyboard-shortcut {
                    color: var(--color--rose--400);
                  }
                }

        .dark {
          display: none !important;
        }
        @media (prefers-color-scheme: dark) {
          .light {
            display: none !important;
          }
          .dark {
            display: block !important;
          }
        }

        .content,
          .content div,
          .content figure,
          .content blockquote {
            display: flex;
            flex-direction: column;
            gap: var(--space--4);
          }

        .content h1,
          .content h2,
          .content h3,
          .content h4,
          .content h5,
          .content h6 {
            margin-top: var(--space--4);
          }

        .content h1 {
            color: var(--color--gray--medium--800);
          }

        @media (prefers-color-scheme: dark) {

        .content h1 {
              color: var(--color--gray--medium--100)
          }
            }

        .content h1,
          .content h2,
          .content h3 {
            font-size: var(--font-size--base);
            line-height: var(--line-height--base);
          }

        .content h1,
          .content h4,
          .content h5,
          .content h6 {
            font-weight: var(--font-weight--bold);
          }

        .content h2 {
            font-style: italic;
          }

        .content b,
          .content strong {
            font-weight: var(--font-weight--bold);
            color: var(--color--gray--medium--800);
          }

        @media (prefers-color-scheme: dark) {

        .content b,
          .content strong {
              color: var(--color--gray--medium--100)
          }
            }

        .content i:not(.bi),
          .content em {
            font-style: italic;
            color: var(--color--gray--medium--800);
          }

        @media (prefers-color-scheme: dark) {

        .content i:not(.bi),
          .content em {
              color: var(--color--gray--medium--100)
          }
            }

        .content a {
            text-decoration: underline;
            color: var(--color--blue--600);
          }

        .content a:hover,
            .content a:focus-within {
              color: var(--color--blue--500);
            }

        .content a:active {
              color: var(--color--blue--700);
            }

        @media (prefers-color-scheme: dark) {

        .content a {
              color: var(--color--blue--500);
          }
              .content a:hover,
              .content a:focus-within {
                color: var(--color--blue--400);
              }
              .content a:active {
                color: var(--color--blue--600);
              }
            }

        .content a {
            transition-property: var(--transition-property--colors);
            transition-duration: var(--transition-duration--150);
            transition-timing-function: var(
              --transition-timing-function--in-out
            );
            cursor: pointer;
}

        .content pre {
            background-color: #ffffff;
          }

        @media (prefers-color-scheme: dark) {

        .content pre {
              background-color: #1e1e1e
          }
            }

        .content pre {
            padding: var(--space--4);
            border-radius: var(--border-radius--xl);
            overflow-x: auto;
}

        .content pre > code {
              font-size: var(--font-size--xs);
              line-height: var(--line-height--xs);
              background-color: transparent;
              padding: var(--space--0);
              overflow-wrap: normal;
            }

        .content code,
          .content tt,
          .content kbd,
          .content samp {
            font-family: "JetBrains Mono", var(--font-family--monospace);
            font-variant-ligatures: none;
            background-color: var(--color--gray--medium--200);
          }

        @media (prefers-color-scheme: dark) {

        .content code,
          .content tt,
          .content kbd,
          .content samp {
              background-color: var(--color--gray--medium--700);
          }
            }

        .content code,
          .content tt,
          .content kbd,
          .content samp {
            padding: var(--space--0) var(--space--0-5);
            border-radius: var(--border-radius--base);
}

        .content del {
            text-decoration: line-through;
            color: var(--color--rose--600);
          }

        @media (prefers-color-scheme: dark) {

        .content del {
              color: var(--color--rose--500)
          }
            }

        .content ins {
            color: var(--color--green--600);
          }

        @media (prefers-color-scheme: dark) {

        .content ins {
              color: var(--color--green--500)
          }
            }

        .content sup,
          .content sub {
            position: relative;
            font-size: var(--font-size--2xs);
            line-height: var(--space--0);
            vertical-align: baseline;
          }

        .content sup {
            top: var(--space---1);
          }

        .content sub {
            bottom: var(--space---1);
          }

        .content img {
            background-color: var(--color--gray--medium--50);
          }

        @media (prefers-color-scheme: dark) {

        .content img {
              background-color: var(--color--gray--medium--50);
              filter: brightness(var(--brightness--90));
          }
            }

        .content img {
            max-width: 100%;
            height: auto;
            border-radius: var(--border-radius--xl);
}

        .content hr {
            border-top: var(--border-width--1) solid
              var(--color--gray--medium--200);
          }

        @media (prefers-color-scheme: dark) {

        .content hr {
              border-color: var(--color--gray--medium--700)
          }
            }

        .content ol {
            padding-left: var(--space--8);
          }

        .content ol > li {
              list-style: decimal;
            }

        .content ol > li::marker {
                color: var(--color--gray--medium--500);
              }

        @media (prefers-color-scheme: dark) {

        .content ol > li::marker {
                  color: var(--color--gray--medium--400)
              }
                }

        .content ul {
            padding-left: var(--space--8);
          }

        .content ul > li {
              list-style: disc;
            }

        .content ul > li::marker {
                color: var(--color--gray--medium--500);
              }

        @media (prefers-color-scheme: dark) {

        .content ul > li::marker {
                  color: var(--color--gray--medium--400)
              }
                }

        .content table {
            border-collapse: collapse;
            display: block;
          }

        .content table caption {
              font-size: var(--font-size--xs);
              line-height: var(--line-height--xs);
              font-weight: var(--font-weight--bold);
            }

        .content table th,
            .content table td {
              padding: var(--space--1) var(--space--3);
              border-top: var(--border-width--1) solid
                var(--color--gray--medium--200);
            }

        @media (prefers-color-scheme: dark) {

        .content table th,
            .content table td {
                border-color: var(--color--gray--medium--700)
            }
              }

        .content table th {
              font-weight: var(--font-weight--bold);
              color: var(--color--gray--medium--800);
            }

        @media (prefers-color-scheme: dark) {

        .content table th {
                color: var(--color--gray--medium--100)
            }
              }

        .content blockquote {
            padding-left: var(--space--4);
            border-left: var(--border-width--4) solid
              var(--color--gray--medium--200);
          }

        @media (prefers-color-scheme: dark) {

        .content blockquote {
              border-color: var(--color--gray--medium--700)
          }
            }

        .content dl dt {
              font-weight: var(--font-weight--bold);
              color: var(--color--gray--medium--800);
            }

        @media (prefers-color-scheme: dark) {

        .content dl dt {
                color: var(--color--gray--medium--100)
            }
              }

        .content dl dd {
              padding-left: var(--space--4);
            }

        .content var {
            font-style: italic;
          }

        .content s,
          .content strike {
            text-decoration: line-through;
          }

        .content details {
            background-color: var(--color--gray--medium--200);
          }

        @media (prefers-color-scheme: dark) {

        .content details {
              background-color: var(--color--gray--medium--700)
          }
            }

        .content details {
            border-radius: var(--border-radius--xl);
}

        .content details summary:hover,
              .content details summary:focus-within {
                background-color: var(--color--gray--medium--300);
              }

        @media (prefers-color-scheme: dark) {
                .content details summary:hover,
                .content details summary:focus-within {
                  background-color: var(--color--gray--medium--600);
                }
              }

        .content details summary {
              padding: var(--space--2) var(--space--4);
              border-radius: var(--border-radius--xl);
              transition-property: var(--transition-property--colors);
              transition-duration: var(--transition-duration--150);
              transition-timing-function: var(
                --transition-timing-function--in-out
              );
              cursor: pointer;
}

        .content details summary::before {
                content: "\f275";
                font-family: "bootstrap-icons" !important;
                font-size: var(--font-size--xs);
                line-height: var(--line-height--xs);
                margin-right: var(--space--2);
              }

        .content details[open] > summary::before {
              content: "\f273";
            }

        .content details > div:last-child {
              padding: var(--space--4);
            }

        .content figure figcaption {
              font-size: var(--font-size--xs);
              line-height: var(--line-height--xs);
              font-weight: var(--font-weight--bold);
            }

        .content abbr {
            -webkit-text-decoration: underline dotted;
                    text-decoration: underline dotted;
            cursor: help;
          }

        .content dfn {
            font-weight: var(--font-weight--bold);
          }

        .content mark {
            color: var(--color--amber--700);
            background-color: var(--color--amber--200);
          }

        @media (prefers-color-scheme: dark) {

        .content mark {
              color: var(--color--amber--200);
              background-color: var(--color--amber--700);
          }
            }

        .content mark {
            border-radius: var(--border-radius--base);
}

        .content small {
            font-size: var(--font-size--xs);
            line-height: var(--line-height--xs);
          }

        .content input[type="checkbox"] {
            font-size: var(--font-size--2xs);
            line-height: var(--line-height--2xs);
            color: var(--color--transparent);
            background-color: var(--color--gray--medium--200);
          }

        .content input[type="checkbox"]:checked {
              color: var(--color--blue--50);
              background-color: var(--color--blue--600);
            }

        @media (prefers-color-scheme: dark) {

        .content input[type="checkbox"] {
              background-color: var(--color--gray--medium--700)
          }
              .content input[type="checkbox"]:checked {
                color: var(--color--blue--200);
                background-color: var(--color--blue--700);
              }
            }

        .content input[type="checkbox"] {
            width: var(--space--3-5);
            height: var(--space--3-5);
            border-radius: var(--border-radius--base);
            margin-right: var(--space--1);
            display: inline-flex;
            justify-content: center;
            align-items: center;
}

        .content input[type="checkbox"]::before {
              content: "\f633";
              font-family: "bootstrap-icons" !important;
            }

        .content .katex {
            overflow: auto;
          }
      