/* https://pico-8.fandom.com/wiki/Palette */

/* TODO: Remove unnecessary weights. */
@import "node_modules/@fontsource/public-sans/100.css";
@import "node_modules/@fontsource/public-sans/200.css";
@import "node_modules/@fontsource/public-sans/300.css";
@import "node_modules/@fontsource/public-sans/400.css";
@import "node_modules/@fontsource/public-sans/500.css";
@import "node_modules/@fontsource/public-sans/600.css";
@import "node_modules/@fontsource/public-sans/700.css";
@import "node_modules/@fontsource/public-sans/800.css";
@import "node_modules/@fontsource/public-sans/900.css";

body {
  line-height: 1.5;
  font-family: "Public Sans", sans-serif;
  max-width: 600px;
  padding: 0 1em;
  margin: 2em auto;
}

a {
  color: inherit;
}

a.undecorated {
  text-decoration: none;
}

h1 {
  line-height: 1.2;
  font-size: 1.5em;
  font-weight: 800;
  margin-top: 1.5em;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

figure {
  text-align: center;
  font-size: 1.1em;
}

header {
  text-align: center;
}

nav a {
  text-decoration: none;
}
