on: push
jobs:
  web--build:
    strategy:
      fail-fast: false
      matrix:
        os:
          - windows
          - macos
          - ubuntu
    runs-on: ${{ matrix.os }}-latest
    steps:
      - uses: actions/checkout@main
      - uses: actions/setup-node@main
        with:
          node-version: latest
      - run: |
          mv web/ courselore/
          cd courselore/
          npm install-ci-test
          npx package
          cd ..
          mv ./courselore.${{ matrix.os == 'windows' && 'zip' || 'tar.gz' }} ./courselore--${{ matrix.os }}--${{ startsWith(github.ref, 'refs/tags/v') && github.ref_name || github.sha }}.${{ matrix.os == 'windows' && 'zip' || 'tar.gz' }}
      - uses: actions/upload-artifact@main
        with:
          path: ./courselore--${{ matrix.os }}--${{ startsWith(github.ref, 'refs/tags/v') && github.ref_name || github.sha }}.${{ matrix.os == 'windows' && 'zip' || 'tar.gz' }}
          name: courselore--${{ matrix.os }}--${{ startsWith(github.ref, 'refs/tags/v') && github.ref_name || github.sha }}.${{ matrix.os == 'windows' && 'zip' || 'tar.gz' }}
      - if: ${{ matrix.os == 'ubuntu' && startsWith(github.ref, 'refs/tags/v') }}
        uses: webfactory/ssh-agent@master
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - if: ${{ matrix.os == 'ubuntu' && startsWith(github.ref, 'refs/tags/v') }}
        run: |
          cat >> ~/.ssh/known_hosts << "EOF"
            # $ ssh-keyscan courselore.org
            # courselore.org:22 SSH-2.0-OpenSSH_9.6p1 Ubuntu-3ubuntu13.14
            courselore.org ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC5eOOhibzQisUIjimiuzbMpuyWjY7RhvfELsO6B2sU2Be3zCWWsWYK1VZNgKo3I3MLbZ/7NTgS01JWMt7QnsHF3TIyVorXIO96BSTfyqaTtT17AFJ8Qbd4F4ZRRhkmeIDNwddXvFrVIVC1r9YMocbQVbHg/n4iABnGGej+Am2G/4GGBTPREUTpi0cvh1VrXLuCPxVWi9ykHjg8N8NFxKtw+CJdtAIkxRWqf+8alHmgtPL4qge1kX7MMZMxhrzkKl3Bo90nqWLRIldIqnM/1gI7BNfLMJpryBBUtGZPlrMxgWSHWdpCV7E8gGHP+MosB0XDwlAFoyhTnL8chxzR9/0T6a8oTTTK31TJlyZ+60fhwK5+ySaULGC4Z171P0iB2i2DIeFgBMJ+RPe2AgoL6NNCS3b5uvc3t0HvIvNjt/6/H339eCbtTPUeQ8hFmo+HMkdEA6mrCxGKp6/xeI0wiVTOraEJ3Qe+jWU8mAxzlEBfkaUzeNWpiV6T5wrSCFgTjnc=
            # courselore.org:22 SSH-2.0-OpenSSH_9.6p1 Ubuntu-3ubuntu13.14
            courselore.org ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBIulsFvclWU5Fb4aNK+OEV85SvnWCm5t1SP3W15bNaJ4NCs8i71dDGAlFbxVFY4CNWt78n5F/fmBW9/Beg4mQzk=
            # courselore.org:22 SSH-2.0-OpenSSH_9.6p1 Ubuntu-3ubuntu13.14
            courselore.org ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIG5NCmaqehtXTIGpCEtHIZuHROhVy3ucr4LOb2S7u2D/
            # courselore.org:22 SSH-2.0-OpenSSH_9.6p1 Ubuntu-3ubuntu13.14
            # courselore.org:22 SSH-2.0-OpenSSH_9.6p1 Ubuntu-3ubuntu13.14
          EOF
          rsync -a ./courselore--ubuntu--${{ github.ref_name }}.tar.gz root@courselore.org:/root/courselore--ubuntu--${{ github.ref_name }}.tar.gz
          ssh root@courselore.org << "EOF"
            mkdir -p /root/courselore/
            rm -rf /root/courselore--deploy/
            mkdir /root/courselore--deploy/
            mv /root/courselore--ubuntu--${{ github.ref_name }}.tar.gz /root/courselore--deploy/courselore--ubuntu--${{ github.ref_name }}.tar.gz
            cd /root/courselore--deploy/
            tar -xzf ./courselore--ubuntu--${{ github.ref_name }}.tar.gz
            cp /root/courselore--deploy/courselore/_/configuration/courselore.org.mjs /root/courselore/configuration.mjs
            cp /root/courselore--deploy/courselore/_/configuration/courselore.service /etc/systemd/system/courselore.service
            systemctl daemon-reload
            systemctl stop courselore
            mv /root/courselore/courselore/ /root/courselore--deploy/courselore--old/ || true
            mv /root/courselore--deploy/courselore/ /root/courselore/courselore/
            systemctl start courselore
            systemctl enable courselore
            rm -rf /root/courselore--deploy/
          EOF
  web--release:
    if: ${{ startsWith(github.ref, 'refs/tags/v') }}
    needs: web--build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@main
      - uses: softprops/action-gh-release@master
        with:
          files: ./**/*.*
